* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-left: 200px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
}

p{font-family: Arial, Helvetica, sans-serif;font-size: 24px; text-align: center;}
h1{color:rgb(10, 10, 10); text-align: center; text-decoration:underline;}
h2{color: white;padding: 16px;text-decoration: none;display: block;}
table{
  border-style: ridge;
  border-collapse: collapse;
  background-color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right:auto}

th, td {border: 1px solid black;}

.listContainer{text-align: center;}

.list{font-size: 24px;font-family: Arial, Helvetica, sans-serif; display:inline-block; text-align: left;}

.imgCenter{margin:auto; display:block}



/*Styling for Content Boxes*/
#one{border-style:ridge; border-color: #111; padding: 10px;}
#two{border-style:ridge; border-color: #111; padding: 10px;}
#three{border-style:ridge; border-color: #111; padding: 10px;}
#four{border-style:ridge; border-color: #111; padding: 10px;}
#five{border-style:ridge; border-color: #111; padding: 10px; text-align: center;}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

/*Styling for Quiz-----------------------------------------------------------------------*/

.app {
  background-color: #a9abb1;
  width: 700px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  margin:auto;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTIONS/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  font-size: 24px;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}



/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #1c1d20;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #dddddd;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}